body {
  text-align: center;
  margin: 0 auto;
  float: none;
  margin-bottom: 50px;
  color: whitesmoke;
  background: dimgray;
  background-image: url("../bitcoin-img.svg");
  background-position: 450px -300px;
  background-size: 100%;
}

h3 {
  position: absolute;
  top: 14px;
  left: 50px;
  font-family: "cairo";
}

h2 {
  padding: 5px;
  max-width: 35%;
  margin: 0 auto;
  font-family: "cairo";
}

header {
  position: relative;
  top: 19px;
}

#blurb {
  padding-top: 35px;
  max-width: 70%;
  text-align: center;
  margin: 0 auto;
  font-size: 17px;
  font-family: "cairo";
}

form {
  padding-bottom: 55px;
  padding-top: 52px;
}

footer {
  color: orange;
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

#currencyQuestion {
  font-size: 14px;
}

#currencyDiv {
  position: relative;
  top: -100px;
  display: inline-block;
}

#currencyDiv .currencyDivText {
  visibility: hidden;
  font-size: 13px;
  width: 500px;
  max-height: 450px;
  background-color: darkgray;
  color: whitesmoke;
  text-align: center;
  border: 2px solid black;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -125px;
  right: 135px;
  margin: 0 auto;
}

#currencyDiv .currencyDivText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#currencyDiv .show {
  visibility: visible;
}

#currencyForm {
  position: relative;
  top: -49px;
}

#currencyButton {
  border: 2px solid black;
  max-width: 15%;
  margin: 0 auto;
}

@media only screen and (max-width: 321px) {
  h1 {
    font-size: 22px;
  }
  #blurb {
    font-size: 18px;
  }
  #currencyDiv .currencyDivText {
    max-width: 320px;
    font-size: 13px;
    top: 125px;
    left: -150px;
  }
  #currencyForm {
    font-size: 12px;
  }
}

@media only screen and (max-width: 569px) {
  h1 {
    font-size: 22px;
  }
  #blurb {
    font-size: 18px;
  }
  #currencyDiv .currencyDivText {
    max-width: 569px;
    top: 125px;
    left: -255px;
  }
  #currencyForm {
    font-size: 12px;
  }
}
@media only screen and (max-width: 813px) {
  h1 {
    font-size: 22px;
  }
  #blurb {
    font-size: 18px;
  }
  #currencyDiv .currencyDivText {
    max-width: 812px;
    top: 125px;
    left: -255px;
  }

  #currencyForm {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1024px) {
  #currencyDiv .currencyDivText {
    max-width: 1024px;
    top: 125px;
    left: -255px;
  }
  #currencyForm {
    font-size: 12px;
  }
}
