body {
  text-align: center;
  margin: 0 auto;
  float: none;
  margin-bottom: 50px;
  background-color: dimgray;
  color: whitesmoke;
}

h1 {
  padding: 15px;
  max-width: 35%;
  margin: 0 auto;
}

#blurb {
  padding-top: 60px;
  max-width: 70%;
  text-align: center;
  margin: 0 auto;
  font-size: 17px;
}

form {
  padding-bottom: 55px;
  padding-top: 52px;
}

footer {
  color: royalblue;
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

#currencyDiv {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#currencyDiv .currencyDivText {
  visibility: hidden;
  width: 200px;
  background-color: darkgray;
  color: whitesmoke;
  text-align: center;
  border: 2px solid black;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

#currencyDiv .currencyDivText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#currencyDiv .show {
  visibility: visible;
}

#currencyButton {
  border: 2px solid black;
  max-width: 15%;
  margin: 0 auto;
}
